<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Random No.</h1>

    // You will write least Possible logic inside your ejs

    
    // this Tags helps to evaluate

    <h3> <%= 2 + 2 %>  </h3>

    <h2> <%= randomNo %> </h2>

    <% for(let i = 0; i<=10; i++) { %>
            <%=  i  %>
    <% } %>

   

</body>
</html>