<%- include('./partials/header') %>


<h1 class="req">Get Request Sent Successfully..</h1>

<h2 class="res"> Name -> <%= username %></h2>
<h2 class="res2"> Age -> <%= age %></h2>

<%- include('./partials/footer') %>